{% extends 'base.html' %}
{% block title %}
    <title>Sign-In</title>
{% endblock title %}
{% block content %}
<div class="logcontainer">
    <h3 class="heading1">LOGIN YOUR ACCOUNT!!</h3>
<form action="{% url 'signin' %}" method="post">
    {% csrf_token %}
    {% if error_message  %}
        <div style="color:rgb(255, 0, 0); background-color:rgb(211, 151, 151); margin-left: 8rem ; width:150px">
        {{error_message}}
        </div>
        {% endif %}
    <div class="mb-3">
      <label for="username" class="form-label">User Name</label>
      <input type="text" value="{{valu.uname}}" class="form-control" name="uname" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    
    <div class="mb-3">
    <label for="inputEmail1" class="form-label">Email</label>
      <input type="text" name="e_mail" value="{{valu.e_mail}}" class="form-control" id="inputEmail1" placeholder="Email">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="pwd"  class="form-control" placeholder="Password" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn">Log In</button>
  </form>
  </div>
  {% endblock %}



















